.col-width-ie {
	width: 245px;
}
.home-tabs{
	padding-top:39px;
}
.home-tabs > ul > li > a{
	padding: 10px 29px;
	text-align: center;
}
.home-tabs > ul > li > a .notfiy-count {
	left: 65%;
}
.strm-launcher {
	height: 69px;
}
.dgp-footer {
	padding: 14px 0;
}
.delete-file{
 visibility:hidden !important; 
}
.file-box:hover > .file-actions .delete-file{
   visibility:visible !important;  
}
h1, h2 h3{font-weight:bold;}

.overlay{
	background:url(../images/bg.png) repeat scroll 0 0 transparent;
}
.pf-name span {
	font-weight: bold;
}